page-track-upload {
    
        .big_wrapper{
            background-color: #333;
            color: white;
        }
    
        .wrapper{
            margin-top: 30%;
            background-color: #333;
        }
    
        .details{
            background-color: #333;
            color: white;
        }
    
        .button{
            background-color: #AB8E21;
        }
    
}
